doctype html
html
  header
    meta(charset="utf-8")
    title this is pugjs homepage
  body
    .container This is container
      .row    
       .col-md-4 This is Div
       .col-md-4 This is Div
       .col-md-4 This is Div
       .col-md-4 This is Div
